In [1]:
import numpy as np
import scipy.optimize as sp
import pandas as pd

In [2]:
columns = ['p', 'q', 'r', 'score']
score_dist = pd.read_csv("DATA/score-distribution-2.csv", names=columns)

# Compute the weights
weights = 1.0 / (score_dist['p'] * score_dist['q'])
sigma = pd.Series(weights, name='sigma')

          p    q      r     score
0      7955   32   2643  0.032182
1     20005    2   3085  0.046431
2       132    1   3092  0.040886
3        36    4   3100  0.039235
4      9887    1   3119  0.040176
...     ...  ...    ...       ...
7163  12782   64  11460  0.025382
7164     19    2  11494  0.024157
7165   9635  130  11996  0.025708
7166     35    2  12124  0.023454
7167    253   16  12564  0.023329

[7168 rows x 4 columns]

In [4]:
from polynomials import fit_curve, lin, sq, cub, qua

In [5]:
p, q, r = score_dist['p'].to_numpy(), score_dist['q'].to_numpy(), score_dist['r'].to_numpy()
score = score_dist['score'].to_numpy()
sample_weights = sigma.to_numpy()

In [9]:
functions = [lin, sq, cub, qua]
files = ['lin_opt.csv', 'sq_opt.csv', 'cub_opt.csv', 'qua_opt.csv']
path = 'DATA/'

for i in range(len(functions)):
    popt, err = fit_curve(functions[i], p, q, r, score, sample_weights)
    opt_info = np.append([err], popt)
    #print(opt_info)
    np.savetxt(path + files[i], opt_info, delimiter=",")